<style>
  .above {
    color: red;
  }
</style>

<div id="app">
  <h1>{{ msg }}</h1>

  <span v-bind:class="{ above: count > 30 }"> {{ count }} / 30 </span>
  <form action="">
    <textarea v-model="text" cols="30" rows="10"></textarea> <br>
    <button v-if=" count <= 30 ">Send</button>
    <p v-else>Too many symbols</p>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  new Vue({
    el: '#app',
    data: {
      msg: "Computed options",
      text: ""
    },
    computed: {
      count: function () {
        return this.text.length;
      }
    }
  })
</script>